<html>
  <head>
    <meta charset="UTF-8">
    <title>Forecast Explanation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  </head>
  <body>
    <header class="report-header">
      <div id="report-left-header">
        <a href="{{url_for('index')}}" class="back-button">
          Back
        </a>
        <a href="{{url_for('definitions')}}" class="definition-button">
          View Glossary
        </a>
      </div>
      <button id="theme-toggle" class="theme-toggle">
        Dark mode
      </button>
    </header>
    <main class="report-container">
      <h1 class="header-text">
        Forecast Explanation
      </h1>
      <br>
      <section id="loading-screen" hidden>
        <h3>Updating forecast report...</h3>
        <p>Please hang on a second while we are renewing the report. This page will automatically be updated.</p>
      </section>
      <section id="error-screen" hidden>
        <h3>An unexpected error occured!</h3>
        <p>Some error has occured in the report generation. We will fix very soon.</p>
        <p id="error-message"></p>
      </section>
      <section id="report-content" hidden>
        <h3>Metadata</h3>
        <div id="report-metadata"></div>
        <h3>Forecast Summary</h3>
        <div id="forecast-summary"></div>
        <h3>Feature Interpretation</h3>
        <div id="feature-interpretation"></div>
        <h3>Historical Trend Overview</h3>
        <div id="historical-trend"></div>
        <h3>Market Context</h3>
        <div id="market-context"></div>
        <h3>Model Confidence</h3>
        <div id="model-confidence"></div>
        <h3>Overall Summary</h3>
        <div id="overall-summary"></div>
        <h3>Model Limitations</h3>
        <div id="model-limitations"></div>
      </section>
    </main>
    <script src="{{url_for('static', filename='js/forecast.js')}}"></script>
    <script src="{{url_for('static', filename='js/theme.js')}}"></script>
  </body>
</html>
