<html>
  <head>
    <meta charset="UTF-8">
    <title>Forecast Explanation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <header class="report-header">
      <a href="{{url_for('index')}}" class="back-button">
        Back
      </a>
      <button id="theme-toggle" class="theme-toggle">
        Dark mode
      </button>
    </header>
    <main class="report-container">
      <h1 class="header-text">
        Forecast Explanation
      </h1>
      <section id="loading-screen">
        <br>
        <h3>Updating forecast report</h3>
        <p>Please hang on a second while we are renewing the report. This page will automatically be updated.</p>
      </section>
      <section id="error-screen" hidden>
      </section>
    </main>
  </body>
</html>
