<html>
  <head>
    <meta charset="UTF-8">
    <title>Bitcoin Volatility Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <header class="top-bar">
      <h1 class="header-text">
        Dashboard
      </h1>
      <button id="theme-toggle" class="theme-toggle">
        Dark mode
      </button>
    </header>
    <script src="https://cdn.plot.ly/plotly-3.6.0.min.js"></script>
    <button id="price-btn">Price</button>
    <button id="vol-btn">Volatility</button>
    <div id="chart"></div>
    <div class="index-footer">
      <a href="{{ url_for('about') }}" class="about-button">
        About
      </a>
      <div class="report-access">
        <a href="{{ url_for('forecast_explanation') }}" class="report-button">
          View forecast explanation
        </a>
        <p id="model-version">
          Model version: 1.0
        </p>
      </div>
    </div>
    <script src="{{url_for('static', filename='js/index.js') }}"></script>
    <script src="{{url_for('static', filename='js/theme.js') }}"></script>
  </body>
</html>
