:root {
    --background-color: #ffffff;
    --text-color: #222222;
    --surface-color: #f5f5f5;
    --border-color: #cccccc;

    --button-background: #ffffff;
    --button-text: #222222;
    --button-hover: #eeeeee;

    --chart-background: #ffffff;
    --chart-grid-color: #e5e5e5;
}

#chart {
  width: 95%;
  height: 650px;
  margin: 0 auto;
}

.top-bar {
  display: flex;
  justify-content: flex-end;
}

button {
    padding: 10px 16px;
    border: 10px solid var(--border-color);
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
  background-color: #C7C1C1;
}
