#chart {
  width: 95%;
  height: 650px;
  margin: 0 auto;
}

.top-bar {
  display: flex;
  justify-content: flex-end;
}

.theme-toggle {
    padding: 10px 16px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    background-color: var(--button-background);
    color: var(--button-text);
    cursor: pointer;
    font-size: 16px;
}
